astor==0.8.1
certifi==2020.12.5
cffi==1.14.5
click==7.1.2
cryptography==3.4.7
cycler==0.10.0
dnspython==2.1.0
Flask==1.1.2
Flask-Cors==3.0.10
Flask-PyMongo==2.3.0
gast
gunicorn
grpcio==1.14.1
h5py 
importlib-metadata 
itsdangerous==1.1.0
Jinja2==2.11.3
Keras-Applications 
Keras-Preprocessing 
kiwisolver 
Markdown 
MarkupSafe==1.1.1
matplotlib 
numpy 
olefile==0.46
Pillow 
protobuf==3.14.0
pycparser==2.20
pymongo==3.11.4
pyOpenSSL==20.0.1
pyparsing 
python-dateutil 
PyYAML==5.4.1
scipy 
six 
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
tornado 
typing-extensions 
Werkzeug 
zipp 
